<h2>Products</h2>

<div *ngFor="let product of products; index as productId">
    <h3 >
      <a [title]=" product.name + ' detalles'" [routerLink]="['/ProductDetails', productId]"> 
        {{product.name}}
        </a>
    </h3>  

    <p *ngIf="product.description">
       {{product.description}}
    </p>

    <button (click)="share()" class="btn btn-primary">Share</button>

    <app-product-alerts [producto]="product" (notify)="onNotify()">
      
    </app-product-alerts>
</div>

